.apiFillter_container{
    width: 70%;
    margin: auto;
    font-size: 18px;
}
.apiFillter_container ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 10px;
}
.menuItem {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
  }
  
  .active {
    border-bottom: 2px solid blue; /* Example underline style */
  }