.bodyParama_container {
  width: 70%;
  margin: 20px auto;
}

.bodyParama_container textarea{
    width: 100%;
    padding: 10px;
    background: url(http://i.imgur.com/2cOaJ.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    border-color: #ccc;
}
.bodyParama_container select{
  padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin: 10px 0;
}